<!DOCTYPE html>
<html lang="en-US">

    <head>

    <title>Kessler Finance Site</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
            <div class="container-fluid">
                <div class="jumbotron jumbotron-fluid">
                    <h1 style="margin-left: 10px;">Kessler Finance Site</h1>
                </div>

                    </br>

                    <h3>Welcome to the Kessler Finance Site! Please log in to see your
data or create a new account by entering a username and password if you are new here.</h3>

                    <form method="POST">
                        {% csrf_token %}

                            </br>

                            {% if loggedIn == False %}
                                <!-- change font to danger later when working on layout !-->
                                <h3>Invalid username or password. Please try again</h3>

                            {% endif %}

                            </br>

                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <input type="text" class="form-control" name="inputedUsername" id="inputedUsername" />
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" class="form-control" name="inputedPassword" id="inputedPassword" />
                            </div>

                            <button type="submit" value='login' name="submit">Login</button>

                            <button type="submit" value='create' class="btn btn-success" name="submit">Create Account</button>

                    </form>
            </div>

    </body>
</html>
