<!DOCTYPE html>
<html lang="en-US">

    <head>

    <title>Kessler Finance Site</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <h1>Kessler Finance Site</h1>
            </div>

            </br>

            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" name="inputUsername" id="inputUsername" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="inputPassword" id="inputPassword" />
            </div>
            <a href="stockPick"><button type="submit">Login</button></href>
        </div>
    </body>
</html>
