<!DOCTYPE html>
<html lang="en-US">

    <head>
    <title>Kessler Finance Site</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- semantic ui -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <h1 style="margin-left: 10px;">Kessler Finance Site</h1>
            </div>

            <!-- if the url was typed out into search bar rather than achevied
            through path -->
            {% if urlRequest %}

                <!-- displays error message -->
                <h3 class="text-danger">Sorry! This link is not supposed to be reached. Please click
                     on the button below to be redirected to the correct page.</h3>

                <!-- links the button to the login view like it should go to -->
                <a href="loginView"> <button type="submit" value='link' class="btn btn-success" name="submit">Go to new page</button></a>


            <!-- otherwise, -->
            {% else %}

                    <!-- if this is the user's first time seeing this view, -->
                    {% if repeat != False %}

                        <!-- show user their username -->
                        <h1 class="ui header">Welcome, {{ username }}</h1>

                        <form method="POST" action="stockPick">
                            {% csrf_token %}
                            <button type="submit" class="ui primary basic button" name="submit" value="loadButton">Load Stock Data</button>
                        </form>

                    {% else %}

                        <!-- if the user has not yet entered a false input -->
                        {% if input != False %}
                            <div class="sub header">Please select the stocks that you
                              own from the QQQ index by typing their tickers in. For each
                              stock that you select, please enter the number of shares
                              of that stock you own. Click the "Add another stock" button
                              if you still would like to add more stocks and click the
                              "Submit" button once you would like to move on to the next
                              page.</div>

                        <!-- otherwise, if the user has incorrectly entered an input, -->
                        {% else %}
                            <div class="sub header">Please correctly enter one of the following
                                tickers.</div>

                        {% endif %}


                        <div class="ui list">
                        <!-- for every stock in the stock index -->
                        {% for stock in stockIndex %}
                            <div class="item">
                                <div class="header">{{ stock }} known as {{ companyNames[i] }}</div>
                            {{ companyDescrips[i] }}
                            </div>
                        {% endfor %}
                        </div>

                        <!-- this is a form for picking how many stocks of a company
                        the user owns, redirects to stockDisplay template after -->
                        <form method="POST" action="stockPick">
                            {% csrf_token %}

                            <!-- input for which stock user owns -->
                            <div class="ui input focus">
                                <input type="text" name="tickerInput" placeholder="Stock Ticker:">
                            </div>

                            <!-- input for number of stocks user owns -->
                            <div class="ui input focus">
                                <input type="text" name="sharesOwned"/
                                 placeholder="Shares owned: ">
                            </div>

                            <!-- this button refreshes the page to allow for another
                            stock selection -->
                            <button class="ui primary button" type="submit" value="save" name="submit">
                              Add another stock
                            </button>

                            </br>

                            <!-- button used to submit all stock data-->
                            <button class="ui secondary basic button" type="submit" value="turnIn" name="submit">
                              Submit
                            </button>

                        </form>

                        </br>

                        <!-- logout button in case user wants to logout -->
                        <form method="POST" action="stockPick">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" name="logoutButton">Logout</button>
                        </form>

                    {% endif %}



          {% endif %}

        </div>
    </body>
</html>
