<!DOCTYPE html>
<html lang="en-US">

    <head>
    {% load static %}

    <title>Kessler Finance Site</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- semantic ui -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <h1 style="margin-left: 10px;">Kessler Finance Site</h1>
            </div>


            <h3 class="ui block header">
            Thank you for choosing Kessler Finance Site to get your stock
            data. Below is some information regarding your portfolio and the website.
            </h3>

            <!-- displays the number of users as a statistic -->
            <div class="ui small statistic">
                <div class="value">
                    {{ numUsers }}
                </div>
                <div class="label">
                Number of Site Users
                </div>
            </div>

            <div class="ui list">
            <!-- for every stock that the user chose, -->
            {% for stock in stockUserList %}

                <!-- show them the ticker of the stock being detailed -->
                <div class="item">
                    <div class="header">
                        {{stock.ticker}}
                    </div>
                </div>

                <!-- show the stock price as an item in list -->
                <div class="item">
                  <div class="statistic">
                    <div class="value">
                      {{ stock.stockPrice }}
                    </div>
                    <div class="label">
                      Stock Price
                    </div>
                  </div>
                </div>

                <!-- show them the fifty two week high as item in list -->
                <div class="item">
                  <div class="statistic">
                    <div class="value">
                      {{ stock.ftwh}}
                    </div>
                    <div class="label">
                    52 Week High
                    </div>
                  </div>
                </div>

                <!-- show user fifty two week low as an item in list -->
                <div class="item">
                  <div class="statistic">
                    <div class="value">
                      {{ stock.ftwl }}
                    </div>
                    <div class="label">
                      52 Week Low
                    </div>
                  </div>
                </div>

                <!-- show the user the total value of their stock -->
                <div class="item">
                  <div class="statistic">
                    <div class="value">
                      {{ stock.stockValue}}
                    </div>
                    <div class="label">
                    Total Value of {{ stock.ticker }}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>

            <!-- show user how much their portfolio is worth -->
            <h3 class="ui bottom attached header">
                Your whole portfolio is worth ${{portfolioValue}} dollars.
            </h3>

            <!-- has a redo button if the user wants to edit their stock picks -->
            <form method="POST" action="loginView">
                {% csrf_token %}
                <button type="submit" class="ui primary button" name="edit">
                    Edit Stock Picks
                </button>
            </form>

            </br>

            <!-- has a logout button in case user wants to logout -->
            <form method="POST" action="stockPick">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" name="logoutButton">Logout</button>
            </form>

        </div>
    </body>
</html>
