<!DOCTYPE html>
<html lang="en-US">

    <head>
    <title>Kessler Finance Site</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <h1 style="margin-left: 10px;">Kessler Finance Site</h1>
            </div>

            </br>

            <!-- if the url was typed out into search bar rather than achevied
            through path -->
            {% if urlRequest %}

                <!-- displays error message -->
                <h3 class="text-danger">Sorry! This link is not supposed to be reached. Please click
                     on the button below to be redirected to the correct page.</h3>

                <!-- links the button to the login view like it should go to -->
                <a href="loginView"> <button type="submit" value='link' class="btn btn-success" name="submit">Go to new page</button></a>


            <!-- otherwise, -->
            {% else %}

                <!-- show user their username -->
                <h1>Hello, {{username}}</h1>

                </br>

                <!-- this is a form for picking how many stocks of a company
                the user owns, redirects to stockDisplay template after -->
                <form method="POST" action="stockDisplay">
                    {% csrf_token %}

                    <!-- input for number of stocks user owns -->
                    <label for="sharesOwned">Shares Owned:</label>
                    <input type="text" name="sharesOwned">
                    <input type="submit">
                </form>


                <!-- logout button in case user wants to logout -->
                <form method="POST" action="stockPick">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="logoutButton">Logout</button>
                </form>

                {% for stock in allStocks %}
                    <h3>
                    {{ stock.ticker }}
                    {{ stock.companyName }}
                    {{ stock.stockPrice }}
                    {{ stock.ftwh }}
                    {{ stock.ftwl }}
                    {{ stock.dateAdded }}
                    </h3>
                {% endfor %}
            {% endif %}

        </div>
    </body>
</html>
