<!DOCTYPE html>
<html lang="en-US">

    <head>
    <title>Kessler Finance Site</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- semantic ui -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <h1 style="margin-left: 10px;">Kessler Finance Site</h1>
            </div>


                <!-- if the user has not yet entered a false input -->
                {% if input != False %}
                    <div class="sub header">Please select the stocks that you
                      own from the QQQ index by typing their tickers in. For each
                      stock that you select, please enter the number of shares
                      of that stock you own. Click the "Add another stock" button
                      if you still would like to add more stocks and click the
                      "Submit" button once you would like to move on to the next
                      page.</div>

                <!-- otherwise, if the user has incorrectly entered an input, -->
                {% else %}
                    <div class="sub header" style="color:red;">Please correctly enter one of the following
                        tickers and an integer.</div>

                {% endif %}


                <div class="ui list">
                <!-- for every stock in the stock index -->
                {% for stock in stockList %}
                    <div class="item">
                        <div class="header">{{ stock.ticker }} known as {{ stock.companyName }}</div>
                    {{ stock.companyDescrip }}
                    </div>
                {% endfor %}
                </div>

                <!-- this is a div tag that allows for the user to enter -->
                <div>
                    <!-- input for which stock user owns -->
                    <div class="ui input focus">
                        <input type="text" name="tickerInput" id="tickerInput" placeholder="Stock Ticker:">
                    </div>

                    <!-- input for number of stocks user owns -->
                    <div class="ui input focus">
                        <input type="text" name="sharesOwned" id="sharesOwned"/
                         placeholder="Shares owned: ">
                    </div>

                    <!-- this button refreshes the page to allow for another
                    stock selection -->
                    <button class="ui primary button" name="addStock" onclick="addSymbol()">
                      Add another stock
                    </button>

                    </br>

                </div>

                <!-- this form submits the data and sends it to be processed
                in the stockPick view -->
                <form method="POST" action="stockPick">
                    {% csrf_token %}

                    <!-- this is an empty value that is used to send
                    and hold the symbol and sharesOwned values -->
                    <div style="display: none;">
                        <input type="text" name="symbolsInput" id="symbolsInput" placeholder="">
                    </div>

                    <!-- button used to submit all stock data-->
                    <button class="ui secondary basic button" type="submit" value="turnIn" name="turnIn" onclick="addSymbol()">
                      Submit
                    </button>

                </form>

                </br>

                <!-- logout button in case user wants to logout -->
                <form method="POST" action="stockPick">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="logoutButton">Logout</button>
                </form>

        </div>
    </body>
    <script>

    // makes a list to hold the data from the input
    var symbols = [];

    // this function saves the inputed data to a list
    function addSymbol() {

        // defines which input was the symbol
        var symbol = document.getElementById("tickerInput").value.trim();
        // defines which input was the number of shares owned
        var sharesOwned = document.getElementById("sharesOwned").value.trim();
        // adds the symbol and the number of shares owned to a list (if not null)

        // clears both ticker input and shares owned
        document.getElementById("tickerInput").value = "";
        document.getElementById("sharesOwned").value = "";

        // if the inputed symbol is not empty
        if (symbol != "" && sharesOwned != "") {
            symbols.push(symbol + ":" + sharesOwned);
        }

        // add the values to a giant string, separated by vertical lines
        var symbolsData = "|";
        for (var i=0; i < symbols.length; i++) {
            var symbolAndShares = symbols[i];
            symbolsData += symbolAndShares + "|";
        }
        symbolsData = symbolsData.slice(1,-1); // get rid of vertical lines on ends of string
        document.getElementById("symbolsInput").value = symbolsData;
    }


    </script>
</html>
