<!DOCTYPE html>
<html lang="en-US">

    <head>
    {% load static %}

    <title>Kessler Finance Site</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src= "{% static 'semantic/package.js' %}"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <h1 style="margin-left: 10px;">Kessler Finance Site</h1>
            </div>

            </br>

            {% if urlRequest %}


                <h3 class="text-danger">Sorry! This link is not supposed to be reached. Please click
                     on the button below to be redirected to the correct page.</h3>
                <a href="loginView"> <button type="submit" value='link' class="btn btn-success" name="submit">Go to new page</button></a>

            {% else %}

                </br>

                <div class="ui large statistic">
                    <div class="value">
                        {{ numUsers }}
                    </div>
                    <div class="label">
                        Number of Kessler Finance Site Users
                    </div>
                </div>

                <form method="POST" action="stockPick">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="logoutButton">Logout</button>
                </form>

            {% endif %}

        </div>
    </body>
</html>
